.apply {
  position: relative;
  .menus {
    display: flex;
    background-color: #fff;
    .menu-item {
      flex: 1;
      .padding(49, 0, 18, 0);
      .item-content {
        display: block;
        margin: auto;
        text-decoration: none;
        .w(100);
        .menu-icon {
          .w(100);
          .h(54);
          img {
            width: 100%;
            height: 100%;
          }
        }
        .menu-text {
          .pt(20);
          .fs(24);
          color: #333;
          text-align: center;
        }
      }
    }
  }

  .apply-list {
    .mt(20);
    .mint-navbar {
      .border-1px(#d9d9d9);
      .mint-tab-item {
        padding: 0;
        .fs(28);
        .mint-tab-item-label {
          .h(90);
          .lh(90);
          .fs(28);
          color: #333;
        }
        &.is-selected {
          margin: 0;
          border: none;
          &::after {
            margin: auto;
            .mt(-4);
            display: block;
            content: ' ';
            background-color: #00B775;
            .w(60);
            .h(4);
          }
        }
      }
    }
    .mint-tab-container {
      background-color: #fff;
      .border-1px(#d9d9d9);
    }
  }
  .loading {
    display: none;
  }
  .slide-fade{
    position: absolute;
    left:0;
    right: 0;
  }
  .slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .5s ease;
  }
  //.slide-fade-leave-active {
  //
  //  transition: all .5s cubic-bezier(2.0, 0.5, 0.8, 1.0);
  //}
  .slide-fade-enter, .slide-fade-leave-to
  {
    left:0;
    right: 0;
    transform: translateX(100%);
    opacity: 1;
  }
}

