<template>
  <div class="apply header-pt">
    <back-header title="申请"></back-header>
    <div class="menus">
      <div class="menu-item">
        <router-link to="/fillinapply?type=txdj" class="item-content">
          <div class="menu-icon">
            <img src="../../assets/icons/icon_txdj@2x.png">
          </div>
          <div class="menu-text">同校代接</div>
        </router-link>
      </div>
      <div class="menu-item">
        <router-link to="/fillinapply?type=txds" class="item-content">
          <div class="menu-icon">
            <img src="../../assets/icons/icon_txds@2x.png">
          </div>
          <div class="menu-text">同校代送</div>
        </router-link>
      </div>
      <div class="menu-item">
        <router-link to="/fillinapply?type=wxdj" class="item-content">
          <div class="menu-icon">
            <img src="../../assets/icons/icon_wxdj@2x.png">
          </div>
          <div class="menu-text">外校代接</div>
        </router-link>
      </div>
      <div class="menu-item">
        <router-link to="/fillinapply?type=wxds" class="item-content">
          <div class="menu-icon">
            <img src="../../assets/icons/icon_wxds@2x.png">
          </div>
          <div class="menu-text">外校代送</div>
        </router-link>
      </div>
    </div>

    <div class="apply-list">
      <mt-navbar v-model="selected">
        <mt-tab-item id="dj">代接申请</mt-tab-item>
        <mt-tab-item id="ds">代送申请</mt-tab-item>
      </mt-navbar>

      <mt-tab-container v-model="selectedTab">
        <mt-tab-container-item id="tab-dj">
          <record-list :list="djDataList" :type="1" @details="getDjDetail"></record-list>
        </mt-tab-container-item>
        <mt-tab-container-item id="tab-ds">
          <record-list :list="dsDataList" :type="1" @details="getDsDetail"></record-list>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>

    <transition name="slide-fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
import Apply from './Apply'
export default Apply
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Apply";
</style>
