<template>
  <div class="family header-pt">
    <back-header title="家人"></back-header>
    <div class="family-list">
      <!--<div class="list-block" v-for="(family, index) in familyList"-->
           <!--:key="index">-->

      <!--</div>-->
      <div class="list-cell"
           v-for="(item, index) in familyList"
           :key="index"
            @click="familyDetails(item.entity.id)">
        <div class="list-cell-left">
          <img v-if="item.entity.regPhotoUrl" :src="imgJoint(item.entity.onRegPhotoUrl)">
        </div>
        <div class="list-cell-wrapper has-btns">
          <div class="list-cell-item">{{item.entity.personName}}</div>
          <div class="list-cell-item">{{item.entity.personPhone}}</div>
          <div class="list-cell-item">{{item.parentType}}</div>
        </div>
        <div class="list-cell-right">
          <div class="status wait" v-if="item.entity.isExamine === '2'">待审批</div>
          <div class="status agree" v-else-if="item.entity.isExamine === '1'">已同意</div>
          <div class="status reject" v-else-if="item.entity.isExamine === '0'">已拒绝</div>
        </div>
        <div class="list-cell-bottom">{{item.entity.createTime}}</div>
      </div>
      <div class="no-data" v-if="!familyList.length">
        <div class="no-data-icon"><img src="../../assets/images/no_data@2x.png"></div>
        <div class="no-data-text">暂无记录</div>
      </div>
    </div>
    <div class="btn-wrap list-btn-wrap">
      <mt-button type="primary" @click.native="addFamily">添加</mt-button>
    </div>
    <transition name="slide-fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
import Family from './Family'
export default Family
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Family";
</style>
