.family {
  position: relative;
  .family-list {
    .pb(100);
    background-color: #fff;
    .border-1px(#d9d9d9);
    .list-cell {
      box-sizing: border-box;
      color: inherit;
      display: block;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      .h(200);
      .border-1px(#d9d9d9);
      .ml(30);
      .list-cell-left {
        position: absolute;
        .top(23);
        left: 0;
        .w(110);
        .h(130);
        .b-radius(10);
        background-color: #E5E5E5;
        overflow: hidden;
        img {
          width: 100%;
          height:100%;
        }
      }
      .list-cell-wrapper {
        box-sizing: border-box;
        line-height: 1;
        width: 100%;
        &.has-btns {
          .padding(15, 160, 0, 128);
        }
        .list-cell-item {
          .h(22);
          .ellipsis();
          .pt(20);
          color: #666;
          .fs(24);
          &:last-child {
            .pb(20);
          }
        }
      }
      .list-cell-right {
        position: absolute;
        .right(30);
        top: 0;
        .pt(20);
        .w(126);
        height: 100%;
        box-sizing: border-box;
        .status {
          box-sizing: border-box;
          .fs(28);
          padding-top: 50%;
          height: 100%;
          text-align: right;
          &.wait {
            color: #00B775;
          }
          &.agree {
            color: #666;
          }
          &.reject {
            color: #ef4f4f;
          }
        }
      }
      .list-cell-bottom {
        .pb(10);
        .fs(22);
        color: #666;
      }
      &:last-child {
        &:after {
          border-top: none;
        }
      }
    }

    .no-data {
      .padding(100, 0);
      //.mt(100);
      .mb(100);
      text-align: center;
      .no-data-icon {
        margin: auto;
        .w(268);
        .h(233);
        img {
          width: 100%;
          height: 100%;
        }
      }
      .no-data-text {
        .mt(24);
        .fs(26);
        color: #666;
      }
    }
  }
  .btn-wrap {
    &.list-btn-wrap {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    text-align: center;
    background-color: @btn-bg-color;
  }

  .slide-fade{
    position: absolute;
    left:0;
    right: 0;
  }
  .slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .5s ease;
  }
  //.slide-fade-leave-active {
  //
  //  transition: all .5s cubic-bezier(2.0, 0.5, 0.8, 1.0);
  //}
  .slide-fade-enter, .slide-fade-leave-to
  {
    left:0;
    right: 0;
    transform: translateX(100%);
    opacity: 1;
  }
}
