.fill-in-shuttle {
  .mint-cell {
    .minh(90);
    .mint-cell-wrapper {
      .padding(0, 30);
      .fs(28);
      .mint-cell-title {
        width: 2.8rem;
        color: #333;
      }
      .mint-cell-value {
        color: #666;
        &.is-link {
          .mr(30);
        }
      }
      .mint-cell-allow-right {
        &::after {
          border: solid 4/@baseFontSize*1rem #666;
          border-bottom-width: 0;
          border-left-width: 0;
          .right(40);
          .w(10);
          .h(10);
        }
      }
    }
  }

  .child {
    .padding(20, 30);
    display: flex;
    background-color: #fff;
    .photo {
      .mr(35);
      .w(110);
      .h(130);
      .b-radius(10);
      background-color: #e5e5e5;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .info-wrap {
      .info-item {
        .fs(24);
        color: #666;
        .lh(60);
        &.name {
          .fs(28);
          color: #333;
        }
      }
    }
  }
  .parent {
    .upload-cell {
      .pb(15);
      &::before {
        display: block;
        content: ' ';
        .h(20);
        background-color: @body-bg-color;
      }
      .cell-title {
        .padding(26, 30);
        .fs(28);
        color: #333;
      }
      .cell-content {
        display: flex;
        .left, .right {
          box-sizing: border-box;
          width: 50%;
          .photo-wrap {
            .w(273);
            .h(172);
            .b-radius(10);
            border: 1px solid #C5FFEA;
            overflow: hidden;
            &.example {
              background: #F2FFFA url("../../assets/icons/icon_example@2x.png") no-repeat bottom center;
              background-size: 126/@baseFontSize*1rem 138/@baseFontSize*1rem;
            }
            &.upload {
              background: #F2FFFA url("../../assets/icons/icon_camera@2x.png") no-repeat center;
              background-size: 64/@baseFontSize*1rem;
              .photo-label {
                display: block;
                height: 100%;
                text-align: center;
                img {
                  height: 100%;
                }
              }
              .upload-input {
                display: none;
              }
            }
          }
          .cell-name {
            .pt(20);
            .w(273);
            .fs(24);
            color: #666;
            text-align: center;
          }
        }
        .left {
          .pl(70);
        }
        .right {
          .pl(32);

        }
      }
    }
    .reason {
      .mt(20);
    }
  }
  .btn-wrap {
    .pt(100);
    .pb(40);
    text-align: center;
  }
}
