<template>
  <div class="fill-in-shuttle header-pt">
    <back-header title="填写接送信息"></back-header>
    <div class="child">
      <div class="photo">
        <img v-if="children.onRegPhotoUrl" :src="imgJoint(children.onRegPhotoUrl)">
      </div>
      <div class="info-wrap">
        <div class="info-item name">{{children.personName}}</div>
        <div class="info-item">{{children.className}}</div>
      </div>
    </div>
    <div class="parent">
      <mt-field :label="type.name.label" :placeholder="type.name.text" v-model="shuttleParam.visitorName"></mt-field>
      <mt-field :label="type.phone.label" :placeholder="type.phone.text" v-model="shuttleParam.visitorPhone" type="tel"></mt-field>
      <mt-field :label="type.cardNum.label" :placeholder="type.cardNum.text" v-model="shuttleParam.visitorCardnum"></mt-field>

      <div class="upload-cell">
        <div class="cell-title">正面人像</div>
        <div class="cell-content">
          <div class="left">
            <div class="photo-wrap example"></div>
            <div class="cell-name">示例</div>
          </div>
          <div class="right">
            <div class="photo-wrap upload">
              <label for="photo" class="photo-label">
                <img v-if="prePhoto" :src="prePhoto">
              </label>
              <input class="upload-input" id="photo" accept="image/*" type="file" @change="uploadImg($event)">
            </div>
            <div class="cell-name">上传</div>
          </div>
        </div>
      </div>

      <div class="reason">
        <mt-field :label="type.cause.label" :placeholder="type.cause.text" type="textarea" rows="4" v-model="shuttleParam.visitorDescribe"></mt-field>
      </div>
    </div>
    <div class="btn-wrap">
      <mt-button type="primary" @click.native="submitShuttleApply">确定</mt-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import FillInShuttle from './FillInShuttle'
export default FillInShuttle
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "FillInShuttle";
</style>
