.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../assets/images/login_bg@2x.png") no-repeat center;
  background-size: cover;
  text-align: center;
  .logo {
    margin: 0 auto;
    .mt(190);
    .w(160);
    .h(160);
    background: url("../../assets/images/logo@2x.png") no-repeat;
    background-size: cover;
  }
  .form-wrapper {
    margin: 0 auto ;
    .mt(84);
    .mb(70);
    .w(640);
    .b-radius(8);
    background-color: #fff;
    opacity: .9;
    overflow: hidden;
    text-align: left;
    label {
      position: relative;
      .icon {
        display: block;
        position: absolute;
        top: 12px;
        left: 15px;
        width: 21px;
        height: 21px;
        z-index: 1;
        &.role {
          background: url("../../assets/icons/icon_change_role@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        &.username {
          background: url("../../assets/icons/icon_username@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        &.password {
          background: url("../../assets/icons/icon_password@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        &.student-card {
          background: url("../../assets/icons/icon_email@2x.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      .mint-cell {
        &:last-child {
          background-image: -webkit-gradient(linear, left bottom, left top, from(#E0E0E0), color-stop(50%, #E0E0E0), color-stop(50%, transparent));
          background-image: linear-gradient(0deg, #E0E0E0, #E0E0E0 50%, transparent 50%);
        }
        .mint-cell-wrapper {
          padding-left: 54px;
          background: none;
          font-size: 15px;
          .mint-field-core {
            background-color: #fff;
          }
          .eye-wrap {
            padding: 10px;
          }
        }
      }
    }
  }

  .btn-primary {
    .mb(40);
    opacity: .9;
  }
  .student {
    .mt(66);
    font-size: 15px;
    color: #fff;
  }

  .role-popup {
    width: 100%;
    border-top: 1px solid #999;
    .role-list {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
      font-weight: 300;
      li {
        height: 48px;
        line-height: 48px;
        text-align: center;
        .border-1px(#E0E0E0);
        &:last-child {
          .border-none();
        }
      }
    }
  }

}
