<template>
  <div class="login">
    <div class="logo"></div>
    <!--登录-->
    <div class="form-wrapper" v-show="isLogin">
      <label>
        <i class="icon role"></i>
        <mt-field placeholder="请选择您的身份" disabled @click.native="popupVisible = true" v-model="rolename"></mt-field>
      </label>
      <label>
        <i class="icon username"></i>
        <mt-field placeholder="请输入账号" v-model="form.username"></mt-field>
      </label>
      <label>
        <i class="icon password"></i>
        <mt-field :attr="{'type': showEye ? 'text' : 'password'}" placeholder="请输入登录密码" v-model="form.password">
          <div class="eye-wrap" @click="showEye = !showEye">
            <img v-show="!showEye" src="../../assets/icons/icon_hide_eye@2x.png" width="17" height="11">
            <img v-show="showEye" src="../../assets/icons/icon_show_eye@2x.png" width="17" height="11">
          </div>
        </mt-field>
      </label>
    </div>
    <!--学生身份证登录-->
    <div class="form-wrapper" v-show="!isLogin">
      <label>
        <i class="icon student-card"></i>
        <mt-field placeholder="请输入学生身份证" v-model="cardNumStu"></mt-field>
      </label>
      <label>
        <i class="icon student-card"></i>
        <mt-field placeholder="请输入家长身份证" v-model="cardNumPar"></mt-field>
      </label>
    </div>
    <mt-button class="btn-primary" type="primary" @click="loginHandle" v-if="isLogin">登录</mt-button>
    <mt-button class="btn-primary" type="primary" @click="activateHandle" v-else>确定</mt-button>

    <div class="student"
         v-if="isParent"
         @click="isLogin = !isLogin">{{isLogin ? '家长激活' : '登录入口'}}</div>

    <!--选择身份-->
    <mt-popup v-model="popupVisible" class="role-popup" position="bottom">
      <ul class="role-list">
        <li v-for="(key, val) in roleList" :key="key"
            @click="rolename = val; popupVisible = false;">
          {{val}}
        </li>
      </ul>
    </mt-popup>
  </div>
</template>

<script type="text/ecmascript-6">
import Login from './Login'
export default Login
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "~styles/variable.less";
  @import "Login";
</style>
