<template>
  <div class="school">
    <div class="school-content">
      <img src="../../assets/images/s1@2x.png">
      <img src="../../assets/images/s2@2x.png">
      <img src="../../assets/images/s3@2x.png">
      <img src="../../assets/images/s4@2x.png">
    </div>
    <tabbar :page="currentPage"></tabbar>
  </div>
</template>

<script type="text/ecmascript-6">
import School from './School'
export default School
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "School";
</style>
