<template>
  <mt-header fixed :title="title">
    <router-link to="" slot="left">
      <mt-button class="header-back" @click.native="toBack" icon="back">返回</mt-button>
    </router-link>
  </mt-header>
</template>

<script type="text/ecmascript-6">
import BackHeader from './BackHeader'
export default BackHeader
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "./BackHeader";
</style>
