.mint-header {
  background-color: #fff!important;
  color: #333!important;
  border-bottom: 1px solid #ddd;
  .fs(28)!important;
  .h(80)!important;
  .padding(0, 20)!important;
  .header-back {
    width: auto!important;
    height: auto!important;
    .mint-button-icon {
      .mintui {
        .fs(32)!important;
      }
    }
    .mint-button-text {
      .fs(28)!important;
      vertical-align: middle;
    }
  }
}
