<template>
  <div class="update-password header-pt">
    <back-header title="修改密码"></back-header>
    <div class="content">
      <mt-field label="旧密码" placeholder="请输入旧密码" type="password" v-model="params.passwordOld"></mt-field>
      <mt-field label="新密码" placeholder="请输入新密码" type="password" v-model="params.password"></mt-field>
      <div class="tips">密码长度6-12位</div>
      <div class="btn-wrap">
        <mt-button type="primary" @click="submitHandle">确定</mt-button>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import UpdatePassword from './UpdatePassword.js'
export default UpdatePassword
</script>

<style lang="less">
@import "~styles/index.less";
@import "UpdatePassword";
</style>
