.update-password {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  .content {
    .padding(0, 50);
    .mt(130);
    .mint-cell-wrapper {
      border-bottom: 1px solid #eee;
    }
    .mint-cell:nth-child(1) {
      .mint-cell-wrapper {
        background-image: linear-gradient(180deg, #fff, #fff 50%, transparent 50%);
        background-size: 120% 1px;
        background-repeat: no-repeat;
        background-position: top left;
      }
    }
    .mint-cell:nth-child(2) {
      .mint-cell-wrapper {
        background-image: none;
        .mt(72);
      }
    }
    .tips {
      padding-left: 10px;
      .mt(30);
      font-size: 12px;
      color: #666;
    }
    .btn-wrap {
      .pt(102);
      text-align: center;
    }
  }
}
