.student {
  .main {
    display: flex;
    .mt(20);
    .padding(25, 30);
    background-color: #fff;
    .photo {
      .mr(20);
      .w(110);
      .h(130);
      .b-radius(10);
      background-color: #E5E5E5;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .info {
      .fs(24);
      color: #666;
      .info-item {
        .lh(45);
        &.name {
          .fs(28);
          color: #333;
        }
      }
    }
  }
  .mint-cell {
    .mt(20);
    .minh(90);
    .mint-cell-wrapper {
      .padding(0, 30);
      background-image: none;
      .fs(28);
      .mint-cell-title {
        color: #333;
      }
      .mint-cell-value {
        color: #666;
      }
    }
  }
  .btn-wrap {
    text-align: center;
    .mt(200);
    .mb(60);
    .mint-button--default {
      .mt(20);
      color: @base-color;
      box-shadow: 0 0 1/@baseFontSize*1rem @base-color;
      background-color: #fff;
    }
  }
}
