<template>
  <div class="student header-pt">
    <back-header title="学生信息"></back-header>
    <div class="main">
      <div class="photo">
        <img @click="saveQrImage" v-if="child.onRegPhotoUrl" :src="imgJoint(child.onRegPhotoUrl)">
      </div>
      <div class="info">
        <div class="info-item name">{{child.personName}}</div>
        <div class="info-item">{{child.className}}</div>
        <div class="info-item">{{child.cardNum}}</div>
      </div>
    </div>
    <mt-field label="我的身份" placeholder="请输入您的身份，如爸爸" v-model="relation"></mt-field>
    <div class="btn-wrap">
      <mt-button type="primary" @click="submitHandle">保存</mt-button>
    </div>

    <div @click="isShow = false" class="show-qrcode" :class="{none: !isShow}">
      <div class="img-wrap" ref="imgWrap">
        <img ref="fullCode" src="">
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import Student from './Student'
export default Student
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Student";
</style>
