<template>
  <div class="family-details" ref="familyDetail">
    <div class="top">
      <div class="photo">
        <img @click="saveQrImage" v-if="parent.onRegPhotoUrl" :src="imgJoint(parent.onRegPhotoUrl)">
      </div>
      <div class="info">
        <div class="info-item">{{parent.personName}}</div>
        <div class="info-item">{{parent.relationName}}</div>
      </div>
    </div>
    <ul class="bottom">
      <li>
        <div class="title">证件号码</div>
        <div class="value">{{parent.cardNum}}</div>
      </li>
      <li>
        <div class="title">联系电话</div>
        <div class="value">{{parent.personPhone}}</div>
      </li>
    </ul>
    <div class="btn-wrap">
      <mt-button type="primary" @click.native="backPage">确定</mt-button>
    </div>

    <div @click="isShow = false" class="show-qrcode" :class="{none: !isShow}">
      <div class="img-wrap" ref="imgWrap">
        <img ref="fullCode" src="">
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import FamilyDetails from './FamilyDetails'
export default FamilyDetails
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "FamilyDetails";
</style>
