.family-details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: @body-bg-color;
  .top {
    display: flex;
    background-color: #fff;
    .photo {
      .margin(25, 25, 25, 30);
      .w(110);
      .h(130);
      background-color: #e5e5e5;
      .b-radius(10);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .info {
      .pt(12);
      .fs(28);
      color: #333;
      .info-item {
        .pt(33);
      }
    }
  }
  .bottom {
    margin: 0;
    padding: 0;
    .mt(20);
    list-style: none;
    li {
      display: flex;
      .padding(28, 30);
      .fs(28);
      .border-1px(#eee);
      font-weight: 400;
      background-color: #fff;
      &:last-child {
        .border-none();
      }
      .title {
        color: #333;
        .w(250);
        text-align: left;
      }
      .value {
        color: #666;
        .w(500);
        text-align: right;
      }
    }
  }
  .btn-wrap {
    .mt(400);
    text-align: center;
    background-color: transparent;
  }
}
