.shuttle {
  height: 100%;
  .mint-navbar {
    .border-1px(#d9d9d9);
    position: fixed;
    .top(80);
    left: 0;
    width: 100%;
    z-index: 999;
    .mint-tab-item {
      padding: 0;
      .fs(28);
      .mint-tab-item-label {
        .h(90);
        .lh(90);
        .fs(28);
      }
      &.is-selected {
        margin: 0;
        border: none;
        color: @base-color;
        &::after {
          margin: auto;
          .mt(-4);
          display: block;
          content: ' ';
          background-color: #00B775;
          .w(60);
          .h(4);
        }
      }
    }
  }
  .mint-tab-container {
    .pt(90);
    .border-1px(#d9d9d9);
    height: calc(100% - 90/@baseFontSize*1rem);
    &::after {
      border: none;
    }
    .mint-tab-container-wrap {
      height: 100%;
      .mint-tab-container-item {
        height: 100%;
        .appr-menu {
          position: fixed;
          .top(170);
          left: 0;
          width: 100%;
          .h(80);
          background-color: #fff;
          z-index: 999;
          .fs(24);
          color: #666;
          overflow-x: auto;
          white-space: nowrap;
          .menu-item {
            display: inline-block;
            text-align: center;
            .w(180);
            .h(80);
            .lh(80);
            .border-1px(#eee);
            &.active {
              color: @base-color;
            }
          }
        }
        .appr-container {
          .pt(80);
          height: calc(100% - 80/@baseFontSize*1rem);
          overflow-y: auto;
          .student-list {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0;
            .pb(30);
            li {
              .pt(30);
              display: inline-block;
              width: 20%;
              .fs(22);
              .photo {
                margin: auto;
                .w(110);
                .h(130);
                .b-radius(10);
                //overflow: hidden;
                background-color: #e5e5e5;
                // 已通知，显示橙色点点
                &.orange {
                  position: relative;
                  &::before {
                    position: absolute;
                    .top(-5);
                    .right(-5);
                    display: block;
                    content: ' ';
                    .w(14);
                    .h(14);
                    border-radius: 50%;
                    background-color: #F89E34;
                  }
                }
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .name {
                .pt(12);
                color: #333;
                text-align: center;
              }

            }
          }
        }
      }
    }
  }

  .role-popup {
    width: 100%;
    border-top: 1px solid #999;
    .role-list {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
      font-weight: 300;
      li {
        height: 48px;
        line-height: 48px;
        text-align: center;
        .border-1px(#E0E0E0);
        &:last-child {
          .border-none();
        }
        &.active {
          color: @base-color;
        }
      }
    }
  }
}
