<template>
  <div class="shuttle header-pt">
    <back-header title="接送管理"></back-header>
    <mt-navbar v-model="selected">
      <mt-tab-item id="lixiao">离校管理</mt-tab-item>
      <mt-tab-item id="daoxiao">到校管理</mt-tab-item>
    </mt-navbar>
    <mt-tab-container v-model="selectedTab">
      <mt-tab-container-item id="tab-lixiao">
        <div class="appr-menu">
          <div class="menu-item"
               v-for="(item, index) in gradeList"
               @click="selectGradeLX(item)"
               :class="{active: item.classCode === activeGrade1}"
               :key="index">
            {{item.className}}
          </div>
        </div>
        <div class="appr-container">
          <ul class="student-list">
            <li
              v-for="(item, index) in studentList"
              @click="getParentList('lx', item)"
              :key="index">
              <div class="photo" :class="{orange: item.personState === 2}">
                <img v-if="item.photo" :src="imgJoint(item.photo)">
              </div>
              <div class="name">{{item.personName}}</div>
            </li>
          </ul>
        </div>
      </mt-tab-container-item>
      <mt-tab-container-item id="tab-daoxiao">
        <div class="appr-menu">
          <div class="menu-item"
               v-for="(item, index) in gradeList"
               @click="selectGradeDX(item)"
               :class="{active: item.classCode === activeGrade2}"
               :key="index">
            {{item.className}}
          </div>
        </div>
        <div class="appr-container">
          <ul class="student-list">
            <li
              v-for="(item, index) in studentList"
              @click="getParentList('dx', item)"
              :key="index">
              <div class="photo" :class="{orange: item.personState === 2}">
                <img v-if="item.photo" :src="imgJoint(item.photo)">
              </div>
              <div class="name">{{item.personName}}</div>
            </li>
          </ul>
        </div>
      </mt-tab-container-item>
   </mt-tab-container>

    <!--选择身份-->
    <mt-popup v-model="popupVisible" class="role-popup" position="bottom">
      <ul class="role-list">
        <li v-for="(item, index) in parentList" :key="index"
            :class="{active: item.passId !== '' && typeof item.passId !== 'undefined'}"
            @click="teacherConfirmHandle(item)">
          {{item.personName}}
        </li>
      </ul>
    </mt-popup>
  </div>
</template>

<script type="text/ecmascript-6">
import Shuttle from './Shuttle'
export default Shuttle
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Shuttle";
</style>
