<template>
  <div class="notice-details header-pt">
    <back-header title="通知详情"></back-header>
    <div class="head">
      <span class="title">{{details.title}}</span>
      <span class="sub-title">班级：{{details.className}}</span>
      <span class="sub-title">时间：{{details.createTime}}</span>
    </div>
    <div class="content">
      <p>{{details.content}}</p>
      <div class="sender">{{details.personName}}</div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import NoticeDetails from './NoticeDetails'
export default NoticeDetails
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "NoticeDetails";
</style>
