.notice-details {
  height: 100%;
  position: relative;
  overflow: hidden;
  .head {
    position: fixed;
    .top(80);
    left: 0;
    width: 100%;
    .padding(0, 30);
    .h(120);
    box-sizing: border-box;
    background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 0);
    background-size: 120% 1px;
    background-repeat: no-repeat;
    background-position: 0 118/@baseFontSize*1rem;
    background-origin: content-box;
    background-color: #fff;
    //overflow: hidden;
    font-size: 0;
    span {
      display: block;
      vertical-align: top;
      &.title {
        .lh(54);
        .fs(28);
        .ellipsis();
        color: #333;
      }
      &.sub-title {
        .lh(30);
        .fs(22);
        .ellipsis();
        color: #666;
      }
    }
  }
  .content {
    max-height: calc(100% - 160/@baseFontSize*1rem);
    overflow-y: auto;
    .mt(120);
    .padding(20, 30);
    .fs(26);
    color: #666;
    background-color: #fff;
    p {
      width: 100%;
      margin: 0;
      .lh(48);
    }
    .sender {
      .pt(30);
      text-align: right;
    }
  }
}
