<template>
  <div class="activate header-pt">
    <back-header title="激活账号"></back-header>
    <!--使用学生身份证登录-->
    <div class="children-card">
      <!--孩子信息-->
      <div class="children" v-if="isChild">
        <div class="children-photo">
          <img :src="imgJoint(children.photo)">
        </div>
        <div class="children-info">
          <div class="name">学生：{{children.name}}</div>
          <div class="grade">班级：{{children.grade}}</div>
        </div>
      </div>
      <!--家长完善信息-->
      <div class="parent">
        <div class="title"><div class="title-name">请完善以下信息并激活</div></div>
        <div class="form-wrapper">
          <mt-field label="姓名" placeholder="请输入您的姓名" v-model="form.entity.personName"></mt-field>
          <mt-field label="证件号码" placeholder="请输入您的证件号码" v-model="form.entity.cardNum"></mt-field>
          <mt-field label="身份" v-if="isChild" placeholder="请输入您与孩子的关系" v-model="form.entity.regionName"></mt-field>
          <mt-field label="联系电话" placeholder="请输入您的联系电话" type="tel" v-model="form.entity.personPhone"></mt-field>
        </div>

        <div class="upload-cell">
          <div class="cell-title">正面人像</div>
          <div class="cell-content">
            <div class="left">
              <div class="photo-wrap example"></div>
              <div class="cell-name">示例</div>
            </div>
            <div class="right">
              <div class="photo-wrap upload">
                <label for="photo" class="photo-label">
                  <img v-if="prePhoto" id="prePhoto" :src="prePhoto">
                </label>
                <input class="upload-input" id="photo" accept="image/*" type="file" @change="uploadImg($event)">
              </div>
              <div class="cell-name">上传</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tips">*照片做进出校门刷脸用，请提供清晰照片</div>

    <div class="btn-wrap">
      <mt-button type="primary" @click="activateHandle">激活</mt-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import Activate from './Activate'
export default Activate
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Activate";
</style>
