.activate {
  .children-card {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    .children {
      position: relative;
      margin: auto;
      .mt(10);
      .w(690);
      .h(215);
      .b-radius(8);
      background: linear-gradient(90deg, rgba(255,191,94,1), rgba(246,154,60,1));
      box-shadow: 0 1/@baseFontSize*1rem 21/@baseFontSize*1rem 0 rgba(255,153,34,0.73);
      .children-photo {
        position: absolute;
        .top(42);
        .left(20);
        .w(110);
        .h(130);
        .b-radius(10);
        background-color: #e5e5e5;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .children-info {
        position: absolute;
        .top(42);
        .left(157);
        .fs(30);
        .lh(60);
        font-weight: 500;
        color: #fff;
      }
    }

    .parent {
      .title {
        .padding(30, 0, 40, 0);
        font-size: 0;
        color: #333;
        text-align: center;
        &::before {
          display: inline-block;
          content: ' ';
          .w(60);
          .h(2);
          background: linear-gradient(to right, #FFF , #7C7C7C);
          position: relative;
          .top(-10);
          .right(8);
        }
        &::after {
          display: inline-block;
          content: ' ';
          .w(60);
          .h(2);
          background: linear-gradient(to left, #FFF , #7C7C7C);
          position: relative;
          .top(-10);
          .left(8);
        }
        .title-name {
          display: inline-block;
          .fs(30);
        }
      }
      .mint-cell {
        .minh(90);
        .mint-cell-wrapper {
          .padding(0, 30);
          .fs(28);
          .mint-cell-title {
            .w(210);
            color: #333;
          }
          .mintui {
            .fs(32);
            -webkit-text-stroke-width: 0.2/@baseFontSize*1rem;
          }
        }
      }

      .upload-cell {
        .pb(15);
        &::before {
          display: block;
          content: ' ';
          .h(20);
          background-color: @body-bg-color;
        }
        .cell-title {
          .padding(26, 30);
          .fs(28);
          color: #333;
        }
        .cell-content {
          display: flex;
          .left, .right {
            box-sizing: border-box;
            width: 50%;
            .photo-wrap {
              .w(273);
              .h(172);
              .b-radius(10);
              border: 1px solid #C5FFEA;
              overflow: hidden;
              &.example {
                background: #F2FFFA url("../../assets/icons/icon_example@2x.png") no-repeat bottom center;
                background-size: 126/@baseFontSize*1rem 138/@baseFontSize*1rem;
              }
              &.upload {
                background: #F2FFFA url("../../assets/icons/icon_camera@2x.png") no-repeat center;
                background-size: 64/@baseFontSize*1rem;
                .photo-label {
                  display: block;
                  height: 100%;
                  text-align: center;
                  img {
                    height: 100%;
                  }
                }
                .upload-input {
                  display: none;
                }
              }
            }
            .cell-name {
              .pt(20);
              .w(273);
              .fs(24);
              color: #666;
              text-align: center;
            }
          }
          .left {
            .pl(70);
          }
          .right {
            .pl(32);

          }
        }
      }
    }
  }

  .tips {
    .padding(16, 30);
    .fs(24);
    color: #999;
  }
  .btn-wrap {
    .padding(30, 0);
    text-align: center;
  }
}
