<template>
  <div class="send-me" ref="sendMe">
    <!--人员审批详情-->
    <div class="details ry-details" v-if="details.title === '人员审批'">
      <div class="top">
        <div class="title">{{details.type}}</div>
        <div class="time">{{details.createTime}}</div>
        <div class="main">
          <div class="photo">
            <img v-if="details.childPhoto" :src="imgJoint(details.childPhoto)">
          </div>
          <div class="photo">
            <img v-if="details.personPhoto" :src="imgJoint(details.personPhoto)">
          </div>
          <div class="info">
            <div class="info-item name">{{details.childName}}</div>
            <div class="info-item">家长姓名：{{details.personName}}</div>
            <div class="info-item">亲属关系：{{details.parentType}}</div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <mt-cell title="学生班级" :value="details.className"></mt-cell>
        <mt-cell title="家长联系电话" :value="details.personPhone"></mt-cell>
      </div>
    </div>
    <!--代接送审批详情-->
    <div class="details shuttle-details" v-else>
      <div class="top">
        <div class="title">{{details.type}}</div>
        <div class="time">{{details.createTime}}</div>
        <div class="main">
          <div class="photo">
            <img v-if="details.photo" :src="imgJoint(details.photo)">
          </div>
          <div class="info">
            <div class="info-item name">{{details.childName}}</div>
            <div class="info-item">班级：{{details.className}}</div>
            <div class="info-item">代接时间：{{details.validityDate}}</div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <ul>
          <li>代接人姓名：{{details.shuttleName}}</li>
          <li>代接人联系电话：{{details.shuttlePhone}}</li>
          <li>代接原因：{{details.cause}}</li>
        </ul>
      </div>
    </div>
    <div class="btn-wrap">
      <mt-button type="primary" @click.native="back">返回</mt-button>
      <!--<mt-button @click.native="disagreeApprove">拒绝</mt-button>-->
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import SendMe from './SendMe'
export default SendMe
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "SendMe";
</style>
