.send-me {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: @body-bg-color;
  .details {
    background-color: #fff;
    .top {
      position: relative;
      .padding(20, 30);
      .title {
        .fs(30);
        color: #333;
      }
      .time {
        position: absolute;
        .top(30);
        .right(30);
        .fs(22);
        color: #666;
      }
      .main {
        display: flex;
        .mt(36);
        .photo {
          .mr(20);
          .w(110);
          .h(130);
          .b-radius(10);
          background-color: #E5E5E5;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .info {
          .fs(24);
          color: #666;
          .info-item {
            .lh(45);
            &.name {
              .fs(28);
              color: #333;
            }
          }
        }
      }
    }
    &.ry-details {
      .bottom {
        .mint-cell {
          .minh(90);
          .mint-cell-wrapper {
            .padding(0, 30);
            .fs(28);
            .mint-cell-title {
              width: 2.8rem;
              color: #333;
            }
            .mint-cell-value {
              color: #666;
            }
          }
        }
      }
    }
    &.shuttle-details {
      .bottom {
        border-top: 1/@baseFontSize*1rem solid #d9d9d9;
        .pb(20);
        .pt(20);
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            .padding(0, 30);
            .fs(24);
            .lh(50);
            color: #666;
          }
        }
      }
    }
  }
  .btn-wrap {
    text-align: center;
    .mt(200);
    .mb(60);
    .mint-button--default {
      .mt(20);
      color: @base-color;
      box-shadow: 0 0 1/@baseFontSize*1rem @base-color;
      background-color: #fff;
    }
  }
}
