.mint-tabbar {
  position: fixed!important;
  background-color: #fff!important;
  box-shadow: 0 -1/@baseFontSize*1rem 6/@baseFontSize*1rem 0 rgba(0, 125, 80, 0.12);
  .mint-tab-item {
    .padding(10, 0, 12, 0);
    background-color: inherit;
    .mint-tab-item-icon {
      .w(45);
      .h(45);
      .mb(10);
    }
    .mint-tab-item-label {
      color: #888;
      font-weight: 400;
      .fs(22);
    }
    &.is-selected {
      background-color: inherit;
      .mint-tab-item-label {
        color: @base-color;
      }
    }
  }
}

