<template>
  <!--菜单栏-->
  <mt-tabbar v-model="selected">
    <mt-tab-item id="home">
      <img slot="icon" src="../../assets/icons/icon_home_check@2x.png" v-if="selected === 'home'">
      <img slot="icon" src="../../assets/icons/icon_home@2x.png" v-else>
      首页
    </mt-tab-item>
    <mt-tab-item id="school">
      <img slot="icon" src="../../assets/icons/icon_school_check@2x.png" v-if="selected === 'school'">
      <img slot="icon" src="../../assets/icons/icon_school@2x.png" v-else>
      校园风采
    </mt-tab-item>
    <mt-tab-item id="mine">
      <img slot="icon" src="../../assets/icons/icon_user_check@2x.png" v-if="selected === 'mine'">
      <img slot="icon" src="../../assets/icons/icon_user@2x.png" v-else>
      我的
    </mt-tab-item>
  </mt-tabbar>
</template>

<script type="text/ecmascript-6">
import Tabbar from './Tabbar'
export default Tabbar
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "./Tabbar";
</style>
