<template>
  <div class="apply-details" ref="applyDetails">
    <!--成功-->
    <div class="apply-status success" v-if="details.status === '0'">
      <div class="icon">
        <img src="../../assets/icons/icon_success@2x.png">
      </div>
      <div class="text">提交成功，等待审核</div>
    </div>
    <!--失败-->
    <div class="apply-status error" v-else-if="details.status === '2'">
      <div class="icon">
        <img src="../../assets/icons/icon_error@2x.png">
      </div>
      <div class="text">审核未通过</div>
      <div class="text small">老师未同意您的代{{typeStr}}申请</div>
    </div>
    <!--二维码-->
    <div class="apply-status qrcode" :class="{'none': isTx}" v-else-if="details.status === '1'">
      <div class="icon" @click="saveQrImage" :class="{'opacity-qr': details.isUse === '1'}" id="qrcode" ref="qrcode"></div>
      <div class="text">代{{typeStr}}人凭二维码进出校园</div>
      <div class="text small" v-if="details.isUse === '0'">(点击放大，当天有效)</div>
      <div class="text small" v-else-if="details.isUse === '1'">({{isValid}})</div>
    </div>

    <ul class="details">
      <li>
        <div class="title">代{{typeStr}}人</div>
        <div class="value">{{details.shuttleName}}</div>
      </li>
      <li>
        <div class="title">代{{typeStr}}人身份证</div>
        <div class="value">{{details.shuttleCardnum}}</div>
      </li>
      <li>
        <div class="title">代{{typeStr}}人联系电话</div>
        <div class="value">{{details.shuttlePhone}}</div>
      </li>
      <li>
        <div class="title">代{{typeStr}}时间</div>
        <div class="value">{{details.validityDate}}</div>
      </li>
      <li>
        <div class="title">申请时间</div>
        <div class="value">{{details.createTime}}</div>
      </li>
    </ul>
    <div class="children">
      <div class="title">被{{typeStr}}人</div>
      <div class="content">
        <div class="photo">
          <img @click="saveQrImage" v-if="details.childPhoto" :src="imgJoint(details.childPhoto)">
        </div>
        <div class="info">
          <div class="info-item">姓名：{{details.childName}}</div>
          <div class="info-item">班级：{{details.className}}</div>
        </div>
      </div>
    </div>

    <div class="btn-wrap">
      <mt-button type="primary" @click.native="backApply">确定</mt-button>
    </div>

    <div @click="isShow = false" class="show-qrcode" :class="{none: !isShow}">
      <div class="img-wrap" ref="imgWrap">
        <img ref="fullCode" src="">
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import ApplyDetails from './ApplyDetails'
export default ApplyDetails
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "ApplyDetails";
</style>
