.apply-details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: @body-bg-color;
  .apply-status {
    background-color: #fff;
    .pb(33);
    .icon {
      margin: 0 auto;
      .pt(43);
      .w(118);
      .h(118);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      .pt(22);
      .fs(28);
      color: #333;
      text-align: center;
      &.small {
        .pt(15);
        .fs(22);
        color: #666;
      }
    }
    &.qrcode {
      position: relative;
      &.none {
        display: none;
      }
      .icon {
        .w(160);
        .h(160);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
        &.opacity-qr {
          opacity: .5;
        }
      }
    }
  }
  .details {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: flex;
      .padding(28, 30);
      .fs(24);
      .border-1px(#eee);
      color: #666;
      font-weight: 400;
      background-color: #fff;
      &:last-child {
        .border-none();
      }
      .title {
        .w(250);
        text-align: left;
      }
      .value {
        .w(500);
        text-align: right;
      }
    }
  }
  .children {
    .mt(20);
    background-color: #fff;
    .title {
      .padding(14, 30);
      .fs(28);
      color: #333;
    }
    .content {
      display: flex;
      .photo {
        .margin(20, 28, 20, 30);
        .w(110);
        .h(130);
        .b-radius(10);
        background-color: #E5E5E5;
        overflow: hidden;
        img {
          width: 100%;
          height:100%;
        }
      }
      .info {
        .mt(34);
        .fs(24);
        color: #333;
        .info-item {
          .padding(14, 0);
        }
      }
    }
  }
  .btn-wrap {
    .pt(60);
    text-align: center;
  }
}
