@import "./variable.less";

html, body {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: @body-bg-color;
}
.page-content {
  .mt(100) !important;
}

// 设所有按钮圆角统一为.b-radius(8);
.mint-button {
  .b-radius(8);
  .w(640);
  .h(90);
  .mint-button-text {
    .fs(36);
  }
}
.mint-button--primary {
  background-color: @btn-bg-color !important;
}

// messageBox的样式
.mint-msgbox {
  width: 77.5%;
  .b-radius(10);
  .fs(30);
  .mint-msgbox-header {
    padding: 0;
    .h(75);
    .lh(75);
    .border-1px(#DADADA);
    .mint-msgbox-title {
      .fs(26);
      font-weight: normal;
      color: #333;
    }
  }
  .mint-msgbox-content {
    border-bottom: none;
    .padding(40, 40);
    .minh(72);
    .mint-msgbox-message {
      .lh(72);
      color: #333;
    }
  }
  .mint-msgbox-btns {
    .h(76);
    .lh(76);
    .mint-msgbox-btn {
      .lh(76);
      &.mint-msgbox-confirm {
        background-color: #00B775;
        color: #fff;
      }
      &.mint-msgbox-cancel {
        border-top: 1px solid #DADADA;
      }
    }
  }
}

// 输入框占位文字的颜色
::-webkit-input-placeholder {
  color: #999;
  font-weight: 300;
}
:-moz-placeholder {
  color: #999;
  font-weight: 300;
}
::-moz-placeholder {
  color: #999;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: #999;
  font-weight: 300;
}

.header-pt {
  .pt(80);
}
