@base-color: #00B775;
//@base-font-color: #00B775;
@body-bg-color: #F4F5F9;
@btn-bg-color: #00B775;
@form-label-color: #333;
@form-value-color: #999;

.show-qrcode {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .8);
  &.none {
    display: none;
  }
  .img-wrap {
    position: absolute;
    top: 50%;
    //background-color: #fff;
    text-align: center;
    img {
      width: 80%;
      height: 80%;
      transform: translateY(-50%);
    }
  }
}
