<template>
  <div class="home">
    <div class="banner">
      <img src="../../assets/images/banner@2x.png">
    </div>
    <div class="main">
      <div class="notice"><img src="../../assets/images/notice@2x.png">
        {{notice}}
      </div>
      <div class="main-entry">
        <!--家长-->
        <div class="entry-item" v-if="pt === '6100000000'">
          <router-link class="entry-item-icon" to="apply">
            <img src="../../assets/icons/icon_apply@2x.png">
          </router-link>
          <div class="entry-item-name">申请</div>
        </div>
        <!--老师-->
        <div class="entry-item" v-else-if="pt === '6000000000'">
          <router-link class="entry-item-icon" to="shuttle">
            <img src="../../assets/icons/icon_shuttle@2x.png">
          </router-link>
          <div class="entry-item-name">接送管理</div>
        </div>
        <div class="entry-item">
          <router-link class="entry-item-icon" to="approve">
            <img src="../../assets/icons/icon_approve@2x.png">
          </router-link>
          <div class="entry-item-name">审批</div>
        </div>
        <div class="entry-item notice-entry">
          <router-link class="entry-item-icon" to="notice">
            <img src="../../assets/icons/icon_notice@2x.png">
          </router-link>
          <div class="entry-item-name">通知</div>
          <!--<div class="new-notice">新通知</div>-->
        </div>
      </div>
    </div>
    <!--家长端-->
    <div class="list" v-if="pt === '6100000000'">
      <div class="shuttle-list approve-list" v-if="approveData.length">
        <div class="list-title">审批</div>
        <div class="list-wrap">
          <div class="record-list">
            <div class="list-cell" v-for="(item, index) in approveData" :key="index" @click="toApproveDetails(item.id)">
              <div class="list-cell-left">
                <img v-if="item.photo" :src="imgJoint(item.photo)">
              </div>
              <div class="list-cell-wrapper has-btns">
                <div class="list-cell-item type">接送方式：{{item.type}}</div>
                <div class="list-cell-item">接送人：{{item.visitorName}}</div>
                <div class="list-cell-item">被接送人：{{item.childName}}</div>
              </div>
              <div class="list-cell-right">
                <mt-button type="primary" @click.native.stop="agreeApprove(item, '1')">同意</mt-button>
                <mt-button type="default" @click.native.stop="agreeApprove(item, '2')">拒绝</mt-button>
              </div>
              <div class="list-cell-bottom">{{item.confirmTime}}</div>
            </div>
            <div class="no-data" v-if="!approveData.length">
              <div class="no-data-icon"><img src="../../assets/images/no_data@2x.png"></div>
              <div class="no-data-text">暂无记录</div>
            </div>
          </div>
        </div>
      </div>
      <div class="shuttle-list">
        <div class="list-title">接送记录</div>
        <div class="list-wrap">
          <record-list :list="dataList" :type="0" @details="detailsHandle"></record-list>
        </div>
      </div>
    </div>

    <!--教师端-->
    <div class="list" v-if="pt === '6000000000'">
      <div class="shuttle-list" v-for="(grade, gradeIndex) in classData" :key="gradeIndex">
        <div class="list-title">{{grade.date}}到校</div>
        <div class="list-wrap">
          <div class="grade" v-for="(stu, stuIndex) in grade.class" :key="stuIndex">
            <div class="left">
              <div class="name">
                <div class="text">{{stu.className}} <span v-if="stu.shouldArrive === stu.actualArrival" class="full">全</span></div>
              </div>
              <div class="should_arrive">应到{{stu.shouldArrive}}人</div>
            </div>
            <div class="right">
              <div class="should_arrive_num">{{stu.actualArrival}}</div>
              <div class="should_arrive_name">实到</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <tabbar :page="currentPage"></tabbar>

    <transition name="slide-fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
import Home from './Home'
export default Home
</script>

<style lang="less">
@import "~styles/index.less";
@import "./Home";
</style>
