.home {
  .pb(100);
  //height: 100%;
  overflow-y: auto;
  .banner {
    display: inline-block;
    width: 100%;
    .h(321);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .main {
    display: inline-block;
    .mt(-66);
    .ml(30);
    .w(690);
    .b-radius(10);
    background-color: rgba(255, 255, 255, .8);
    overflow: hidden;
    .notice {
      .padding(0, 20);
      .h(66);
      .lh(66);
      .fs(22);
      .ellipsis();
      color: #333;
      img {
        .mr(20);
        .w(56);
        .h(22);
      }
    }
    .main-entry {
      display: flex;
      .pt(35);
      .pl(20);
      .pr(20);
      .h(217);
      box-sizing: border-box;
      .entry-item {
        flex: 1;
        .entry-item-icon {
          display: block;
          margin: auto;
          .w(131);
          .h(131);
          img {
            width: 100%;
            height: 100%;
          }
        }
        .entry-item-name {
          .mt(1);
          .fs(24);
          text-align: center;
          color: #333;
        }
        &.notice-entry {
          position: relative;
          .new-notice {
            position: absolute;
            top: 0;
            right: 0;
            .w(76);
            .h(37);
            .lh(37);
            .fs(20);
            text-align: center;
            color: #fff;
            border-radius: 19/@baseFontSize*1rem 19/@baseFontSize*1rem 19/@baseFontSize*1rem 2/@baseFontSize*1rem;
            background: linear-gradient(0deg, rgba(249,72,54,1), rgba(247,98,73,1));
            border: 1/@baseFontSize*1rem solid rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
  .list {
    .mt(-6);
    .shuttle-list {
      .mt(20);
      .pt(22);
      //.pb(100);
      background-color: #fff;
      .list-title {
        .ml(30);
        .pl(10);
        .fs(26);
        .border-left-1px(6, #00B775);
        color: #333;
      }
      .list-wrap {
        .pt(8);

        .grade {
          display: flex;
          justify-content: space-between;
          .pl(30);
          .pb(27);
          box-sizing: border-box;
          background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 0);
          background-size: 120% 1px;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-origin: content-box;
          background-color: #fff;
          overflow: hidden;
          .left {
            .name {
              .pt(33);
              .fs(0);
              color: #333;
              font-weight: 500;
              .text {
                .fs(28);
                .full {
                  display: inline-block;
                  .ml(10);
                  .w(60);
                  .h(33);
                  .lh(31);
                  box-sizing: border-box;
                  border: 1px solid @base-color;
                  .b-radius(10);
                  color: @base-color;
                  .fs(22);
                  text-align: center;
                  font-weight: normal;
                }
              }
            }
            .should_arrive {
              .pt(30);
              .fs(22);
              color: #666;
            }
          }
          .right {
            .mr(35);
            .w(80);
            text-align: right;
            .should_arrive_num {
              .pt(30);
              .fs(36);
              color: #FB8515;
              font-weight: bold;
            }
            .should_arrive_name {
              .pt(25);
              .fs(22);
              color: #666;
            }
          }

          &:first-child {
            background-image: none;
          }
        }
      }

      &.approve-list {
        //.mt(13);
        background-color: #F6FFFC;
        .list-cell::after {
          border-top: none;
        }
      }
      &:last-child {
        .mb(20);
      }
    }
  }

  .loading {
    display: none;
  }

  .slide-fade{
    position: absolute;
    left:0;
    right: 0;
  }
  .slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .5s ease;
  }
  //.slide-fade-leave-active {
  //
  //  transition: all .5s cubic-bezier(2.0, 0.5, 0.8, 1.0);
  //}
  .slide-fade-enter, .slide-fade-leave-to
  {
    left:0;
    right: 0;
    transform: translateX(100%);
    opacity: 1;
  }
}
