.record-list {
  //background-color: #fff;
  .list-cell {
    box-sizing: border-box;
    color: inherit;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    .border-1px(#d9d9d9);
    .ml(30);
    .list-cell-left {
      position: absolute;
      .top(23);
      left: 0;
      .w(110);
      .h(130);
      .b-radius(10);
      background-color: #E5E5E5;
      overflow: hidden;
      img {
        width: 100%;
        height:100%;
      }
    }
    .list-cell-wrapper {
      box-sizing: border-box;
      line-height: 1;
      width: 100%;
      &.no-btns {
        .padding(26, 30, 0, 128);
      }
      &.has-btns {
        .padding(26, 160, 0, 128);
      }
      .list-cell-item {
        .ellipsis();
        //.pt(20);
        .lh(44);
        color: #666;
        .fs(24);
        //&:last-child {
        //  .pb(20);
        //}
        &.type {
          color: #333;
          .fs(28);
        }
      }
    }
    .list-cell-right {
      position: absolute;
      .right(30);
      top: 0;
      .pt(32);
      .w(126);
      height: 100%;
      box-sizing: border-box;
      .mint-button {
        display: block;
        .w(126);
        .h(45);
        font-size: 0;
        font-weight: 400;
        .mint-button-text {
          .fs(24);
        }
        &.mint-button--primary {
          background-color: @base-color;
          .mb(25);
        }
        &.mint-button--default {
          background-color: #fff;
          color: @base-color;
          box-shadow: none;
          border: 1px solid @base-color;
          box-sizing: padding-box;
        }
      }
      .status {
        box-sizing: border-box;
        .fs(28);
        padding-top: 50%;
        height: 100%;
        text-align: right;
        &.wait {
          color: #00B775;
        }
        &.agree {
          color: #666;
        }
        &.reject {
          color: #ef4f4f;
        }
      }
    }
    .list-cell-bottom {
      .mt(16);
      .pb(26);
      .fs(22);
      color: #666;
    }
    &:last-child {
      &:after {
        border-top: none;
      }
    }
  }

  .loading {
    margin-top: -1px;
    .h(120);
    border-top: 1/@baseFontSize*1rem solid #d9d9d9;
    .fs(24);
    text-align: center;
    color: #999;
    p {
      margin: 0;
      .h(120);
      .lh(120);
    }
  }

  .no-data {
    .mt(100);
    //.mb(100);
    text-align: center;
    .no-data-icon {
      margin: auto;
      .w(268);
      .h(233);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .no-data-text {
      .pb(100);
      .mt(24);
      .fs(26);
      color: #666;
    }
    &.none {
      display: none;
    }
  }
}
