<template>
  <div class="record-list">
    <div class="list-cell"
         v-if="recordList.length !== 0"
         v-for="(item, index) in recordList"
         :key="index"
         @click="toDetails(item)"
    >
      <div class="list-cell-left">
        <img v-if="item.photo" :src="imgJoint(item.photo)">
      </div>
      <div class="list-cell-wrapper" :class="type !== 0 ? 'has-btns' : 'no-btns'">
        <div class="list-cell-item type">接送方式：{{item.type}}</div>
        <div class="list-cell-item">接送人：{{item.visitorName}}</div>
        <div class="list-cell-item">被接送人：{{item.childName}}</div>
      </div>
      <div class="list-cell-right" v-if="type === 1">
        <div class="status" :class="item.status === '未确认' ? 'wait' : item.status === '已确认' ? 'agree' : 'reject'">{{item.status}}</div>
      </div>
      <div class="list-cell-right" v-else-if="type === 2">
        <mt-button type="primary" @click.native.stop="approveHandle(item.id, '1')">同意</mt-button>
        <mt-button type="default" @click.native.stop="approveHandle(item.id, '2')">拒绝</mt-button>
      </div>
      <div class="list-cell-bottom">{{item.confirmTime}}</div>
    </div>
    <div class="loading" v-if="showLoading">
      <p class="loading-more" v-if="!loading" @click="loadMore">点击加载更多</p>
      <p class="nothing" v-else>没有更多了～</p>
    </div>
    <div class="no-data" v-if="recordList.length === 0">
      <div class="no-data-icon"><img src="../../assets/images/no_data@2x.png"></div>
      <div class="no-data-text">暂无记录</div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import RecordList from './RecordList'
export default RecordList
</script>

<style lang="less">
@import "~styles/index.less";
@import "./RecordList";
</style>
