.add-family {
  .mint-cell {
    .minh(90);
    .mint-cell-wrapper {
      .padding(0, 30);
      .fs(28);
      .mint-cell-title {
        width: 2.8rem;
        color: #333;
      }
      .mint-cell-value {
        color: #666;
        &.is-link {
          .mr(30);
        }
      }
      .mint-cell-allow-right {
        &::after {
          border: solid 4/@baseFontSize*1rem #666;
          border-bottom-width: 0;
          border-left-width: 0;
          .right(40);
          .w(10);
          .h(10);
        }
      }
    }
  }

  .child-popup {
    width: 100%;
    border-top: 1px solid #999;
    .picker-toolbar {
      display: flex;
      .h(80);
      border-bottom: solid 1px #eaeaea;
      .child-action {
        flex: 1;
        display: block;
        text-align: center;
        .lh(80);
        .fs(30);
        color: #333;
        &.child-confirm {
          color: #00B775;
        }
      }
    }
    .child-list {
      .h(504);
      overflow-y: auto;
      .list-cell {
        .h(170);
        box-sizing: border-box;
        color: inherit;
        display: block;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        .border-1px(#d9d9d9);
        .ml(30);
        .list-cell-left {
          position: absolute;
          .top(20);
          left: 0;
          .w(110);
          .h(130);
          .b-radius(10);
          background-color: #E5E5E5;
          overflow: hidden;
          img {
            width: 100%;
            height:100%;
          }
        }
        .list-cell-wrapper {
          box-sizing: border-box;
          line-height: 1;
          width: 100%;
          .padding(32, 160, 0, 128);
          .list-cell-item {
            .ellipsis();
            .pt(20);
            color: #666;
            .fs(22);
            &.name {
              .fs(26);
            }
          }
        }
        .list-cell-right {
          position: absolute;
          .right(30);
          top: 0;
          .pt(20);
          .w(126);
          height: 100%;
          box-sizing: border-box;
          .mint-checkbox-core {
            position: absolute;
            right: 0;
            .top(60);
            .w(40);
            .h(40);
            &::after {
              .top(6);
              .left(12);
              .w(10);
              .h(18);
              border: 4/@baseFontSize*1rem solid transparent;
              border-left: 0;
              border-top: 0;
            }
          }
        }

        &.is-checked {
          .mint-checkbox-core {
            background-color: #1bb677;
            border-color: #1bb677;
            &::after {
              border-color: #fff;
              transform: rotate(45deg) scale(1);
            }
          }
        }
      }
    }
  }

  .upload-cell {
    .pb(15);
    &::before {
      display: block;
      content: ' ';
      .h(20);
      background-color: @body-bg-color;
    }
    .cell-title {
      .padding(26, 30);
      .fs(28);
      color: #333;
    }
    .cell-content {
      display: flex;
      .left, .right {
        box-sizing: border-box;
        width: 50%;
        .photo-wrap {
          .w(273);
          .h(172);
          .b-radius(10);
          border: 1px solid #C5FFEA;
          overflow: hidden;
          &.example {
            background: #F2FFFA url("../../assets/icons/icon_example@2x.png") no-repeat bottom center;
            background-size: 126/@baseFontSize*1rem 138/@baseFontSize*1rem;
          }
          &.upload {
            background: #F2FFFA url("../../assets/icons/icon_camera@2x.png") no-repeat center;
            background-size: 64/@baseFontSize*1rem;
            .photo-label {
              display: block;
              height: 100%;
              text-align: center;
              img {
                height: 100%;
              }
            }
            .upload-input {
              display: none;
            }
          }
        }
        .cell-name {
          .pt(20);
          .w(273);
          .fs(24);
          color: #666;
          text-align: center;
        }
      }
      .left {
        .pl(70);
      }
      .right {
        .pl(32);

      }
    }
  }

  .tips {
    .padding(16, 30);
    .fs(24);
    color: #999;
  }
  .btn-wrap {
    .padding(30, 0);
    text-align: center;
  }
}
