<template>
  <div class="add-family header-pt">
    <back-header title="添加家人"></back-header>
    <!--选择学生-->
    <mt-cell title="选择学生" v-model="childrenStr" @click.native="popupVisibleChild=true" is-link></mt-cell>
    <mt-popup v-model="popupVisibleChild" class="child-popup" position="bottom">
      <div class="picker-toolbar">
        <span class="child-action child-cancel" @click="clearChecked">清空</span>
        <span class="child-action child-title">选择学生</span>
        <span class="child-action child-confirm" @click="confirmChecked">确定</span>
      </div>
      <div class="child-list">
        <div class="list-cell"
             v-for="(item, index) in childList" :key="index"
             @click="checkCell(item, $event)">
          <div class="list-cell-left">
            <img v-if="item.photo" :src="imgJoint(item.photo)">
          </div>
          <div class="list-cell-wrapper">
            <div class="list-cell-item name">{{item.personName}}</div>
            <div class="list-cell-item">{{item.className}}</div>
          </div>
          <div class="list-cell-right">
            <span class="mint-checkbox-core"></span>
          </div>
        </div>
      </div>
    </mt-popup>

    <mt-field label="姓名" placeholder="请输入姓名" v-model="parentParam.entity.personName"></mt-field>
    <mt-field label="证件号码" placeholder="请输入证件号码" v-model="parentParam.entity.cardNum"></mt-field>
    <mt-field label="联系电话" placeholder="请输入您的联系电话" type="tel" v-model="parentParam.entity.personPhone"></mt-field>
    <mt-field label="学生关系" placeholder="请输入您与学生的关系" v-model="parentParam.listParent[0].parentType"></mt-field>

    <div class="upload-cell">
      <div class="cell-title">正面人像</div>
      <div class="cell-content">
        <div class="left">
          <div class="photo-wrap example"></div>
          <div class="cell-name">示例</div>
        </div>
        <div class="right">
          <div class="photo-wrap upload">
            <label for="photo" class="photo-label">
              <img v-if="prePhoto" :src="prePhoto">
            </label>
            <input class="upload-input" id="photo" accept="image/*" type="file" @change="uploadImg($event)">
          </div>
          <div class="cell-name">上传</div>
        </div>
      </div>
    </div>
    <div class="tips">*照片做进出校门刷脸用，请提供清晰照片</div>
    <div class="btn-wrap">
      <mt-button type="primary" @click="addHandle">添加</mt-button>
      <!-- :disabled="addDisabled"-->
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import AddFamily from './AddFamily'
export default AddFamily
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "AddFamily";
</style>
