.phone {
  .pb(22);

  .mint-cell {
    .mt(20);
    .minh(90);
    .mint-cell-wrapper {
      .padding(0, 30);
      background-image: none;
      .fs(28);
      .mint-cell-title {
        color: #333;
      }
      .mint-cell-value {
        color: #666;
      }
    }
  }

  .btn-wrap {
    .pt(552);
    text-align: center;
  }
}
