<template>
  <div class="phone header-pt">
    <back-header title="修改手机号"></back-header>
    <mt-field label="手机号" placeholder="请输入手机号" type="tel" v-model="param.entity.personPhone"></mt-field>
    <div class="btn-wrap">
      <mt-button type="primary" @click="submitHandle">保存</mt-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import Phone from './Phone'
export default Phone
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Phone";
</style>
