.fill-in-apply {
  .mint-cell {
    .minh(90);
    .mint-cell-wrapper {
      .padding(0, 30);
      .fs(28);
      .mint-cell-title {
        width: 2.8rem;
        color: #333;
      }
      .mint-cell-value {
        color: #666;
        &.is-link {
          .mr(30);
        }
      }
      .mint-cell-allow-right {
        &::after {
          border: solid 4/@baseFontSize*1rem #666;
          border-bottom-width: 0;
          border-left-width: 0;
          .right(40);
          .w(10);
          .h(10);
        }
      }
    }
  }

  .high-light {
    background-color: #EDFFF9;
    border-bottom: 2/@baseFontSize*1rem solid #00B775;
  }
  .person-info, .reason {
    .mt(20);
  }

  // 接送类型
  .type-popup {
    width: 100%;
    border-top: 1px solid #999;
    .type-list {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
      font-weight: 300;
      li {
        height: 48px;
        line-height: 48px;
        text-align: center;
        .border-1px(#E0E0E0);
        &:last-child {
          .border-none();
        }
      }
    }
  }

  // 被接人
  .child-popup {
    width: 100%;
    border-top: 1px solid #999;
    .picker-toolbar {
      display: flex;
      .h(80);
      border-bottom: solid 1px #eaeaea;
      .child-action {
        flex: 1;
        display: block;
        text-align: center;
        .lh(80);
        .fs(30);
        color: #333;
        &.child-confirm {
          color: #00B775;
        }
      }
    }
    .child-list {
      .h(504);
      overflow-y: auto;
      .list-cell {
        .h(170);
        box-sizing: border-box;
        color: inherit;
        display: block;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        .border-1px(#d9d9d9);
        .ml(30);
        .list-cell-left {
          position: absolute;
          .top(20);
          left: 0;
          .w(110);
          .h(130);
          .b-radius(10);
          background-color: #E5E5E5;
          overflow: hidden;
          img {
            width: 100%;
            height:100%;
          }
        }
        .list-cell-wrapper {
          box-sizing: border-box;
          line-height: 1;
          width: 100%;
          .padding(32, 160, 0, 128);
          .list-cell-item {
            .ellipsis();
            .pt(20);
            color: #666;
            .fs(22);
            &.name {
              .fs(26);
            }
          }
        }
        .list-cell-right {
          position: absolute;
          .right(30);
          top: 0;
          .pt(20);
          .w(126);
          height: 100%;
          box-sizing: border-box;
          .mint-checkbox-core {
            position: absolute;
            right: 0;
            .top(60);
            .w(40);
            .h(40);
            &::after {
              .top(6);
              .left(12);
              .w(10);
              .h(18);
              border: 4/@baseFontSize*1rem solid transparent;
              border-left: 0;
              border-top: 0;
            }
          }
        }
      }
    }
  }

  .mint-radio-input:checked + .mint-radio-core {
    background-color: #1bb677;
    border-color: #1bb677;
  }

  // 时间选择器
  .mint-datetime {
    .picker-toolbar {
      .h(80);
      .mint-datetime-action {
        .lh(80);
        .fs(30);
        &.mint-datetime-cancel {
          color: #333;
        }
        &.mint-datetime-confirm {
          color: #00B775;
        }
      }
    }
    .picker-items {
      .picker-slot {
        .fs(32);
      }
    }
  }

  .btn-wrap {
    .pt(240);
    text-align: center;
  }


  .parent-popup {
    width: 100%;
    .h(600);
    .picker-toolbar {
      display: flex;
      .h(80);
      .child-action {
        flex: 1;
        display: block;
        text-align: center;
        .lh(80);
        .fs(30);
        color: #333;
        &.child-confirm {
          color: #00B775;
        }
      }
    }
    .search {
      display: flex;
      .field-wrap {
        flex: 1;
        .mint-cell-title {
          width: 1.2rem;
        }
      }
      .search-btn{
        position: relative;
        display: block;
        .w(140);
        .h(180);
        background-color: #fff !important;
        color: #007AFF;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        text-decoration: none;
        i {
          position: absolute;
          display: block;
          &.search-icon {
            .top(60);
            left: 50%;
            .ml(-15);
            .w(30);
            .h(30);
            background: url("../../assets/icons/icon_search@2x.png") no-repeat center;
            background-size: 100%;
          }
          &.search-text {
            .top(100);
            width: 100%;
            text-align: center;
            .fs(24);
            font-style: normal;
          }
        }
        &:active {
          opacity: .8;
        }
      }
    }
    .result {
      .mt(20);
      .pl(30);
      .h(620);
      overflow-y: auto;
      .no-data {
        margin-top: 10%;
        .fs(24);
        text-align: center;
      }
      .parent-cell {
        display: flex;
        .h(80);
        .lh(80);
        .border-1px(#d9d9d9);
        .cell-icon {
          .mt(25);
          .mr(28);
          .w(32);
          .h(30);
          background: url("../../assets/icons/icon_person@2x.png") no-repeat center;
          background-size: 100%;
        }
        .cell-content {
          .fs(24);
          color: #333;
        }
      }
    }
  }

}
