<template>
  <div class="fill-in-apply header-pt">
    <back-header title="填写申请信息"></back-header>
    <mt-cell class="high-light" title="申请类型" v-model="type"></mt-cell>
    <!--@click.native="popupVisibleType=true"-->
    <!--选择申请类型-->
    <!--<mt-popup v-model="popupVisibleType" class="type-popup" position="bottom">-->
      <!--<ul class="type-list">-->
        <!--<li v-for="(item, index) in applyTypes" :key="index"-->
            <!--@click="changeApplyType(item)">{{item.value}}</li>-->
      <!--</ul>-->
    <!--</mt-popup>-->

    <div class="person-info">
      <!--日期-->
      <mt-cell :title="typeText.dateLabel" :value="typeText.datePlace" @click.native="openPicker" is-link></mt-cell>
      <mt-datetime-picker
        ref="picker"
        type="date"
        :startDate="new Date()"
        @confirm="confirmHandle"
        v-model="applyParam.validityDate">
      </mt-datetime-picker>

      <mt-field v-if="isShow" :label="typeText.parentLabel" :placeholder="typeText.parentPlace" v-model="applyParam.shuttleName"></mt-field>
      <mt-cell v-if="!isShow" :title="typeText.parentLabel" v-model="applyParam.shuttleName" @click.native="popupVisibleParent=true" is-link></mt-cell>

      <mt-field v-if="isShow" label="联系电话" :placeholder="typeText.phonePlace" type="tel" v-model="applyParam.shuttlePhone"></mt-field>
      <mt-field v-if="isShow" :label="typeText.parentCardLabel" :placeholder="typeText.parentCardPlace" v-model="applyParam.shuttleCardnum"></mt-field>
      <!--被接人-->
      <mt-cell :title="typeText.childLabel" v-model="applyParam.childName" @click.native="popupVisibleChild=true" is-link></mt-cell>
      <mt-popup v-model="popupVisibleChild" class="child-popup" position="bottom">
        <div class="picker-toolbar">
          <span class="child-action child-cancel" @click="clearChecked">清空</span>
          <span class="child-action child-title">选择学生</span>
          <span class="child-action child-confirm" @click="confirmChecked">确定</span>
        </div>
        <div class="child-list">
          <mt-radio v-model="applyParam.shuttleChild" @click.native.stop="checkCell($event)" :options="childList"></mt-radio>
        </div>
      </mt-popup>
    </div>
    <div class="reason">
      <mt-field :label="typeText.reasonLabel" :placeholder="typeText.reasonPlace" type="textarea" rows="4" v-model="applyParam.cause"></mt-field>
    </div>
    <div class="btn-wrap">
      <mt-button type="primary" @click.native="submitApply">确定</mt-button>
    </div>

    <!--接送人-->
    <mt-popup v-model="popupVisibleParent" class="parent-popup" position="bottom">
      <div class="picker-toolbar">
        <span class="child-action child-cancel"></span>
        <span class="child-action child-title">选择{{typeText.parentLabel}}</span>
        <span class="child-action child-confirm" @click="cancelParent">取消</span>
      </div>
      <div class="search">
        <div class="field-wrap">
          <mt-field label="姓名" placeholder="请输入家长姓名"
                    v-model="parent.personName"></mt-field>
          <mt-field label="电话" placeholder="请输入家长电话"
                    v-model="parent.personPhone"></mt-field>
        </div>
        <a href="javascript:;" @click="getParent" class="search-btn">
          <i class="search-icon"></i>
          <i class="search-text">搜索</i>
        </a>
      </div>
      <div class="result">
        <div class="no-data" v-if="parentNoData">暂无家长信息</div>
        <div class="parent-cell"
             v-else
             @click="selectParentHandle(item)"
             v-for="(item, index) in parentList" :key="index">
          <div class="cell-icon"></div>
          <div class="cell-content">{{item.className}} {{item.personName}} {{item.parentType}}</div>
        </div>
      </div>
    </mt-popup>
  </div>
</template>

<script type="text/ecmascript-6">
import FillInApply from './FillInApply'
export default FillInApply
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "FillInApply";
</style>
