.approve-details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: @body-bg-color;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .detail-wrap {
    background-color: #fff;
    .top {
      .pt(20);
      position: relative;
      .h(40);
      overflow: hidden;
      .title {
        position: absolute;
        left: 0;
        .top(20);
        border-top-right-radius: 40/@baseFontSize*1rem;
        border-bottom-right-radius: 40/@baseFontSize*1rem;
        background-color: #00B775;
        color: #fff;
        text-align: center;
        .fs(24);
        .w(136);
        .h(40);
        .lh(40);
      }
      .time {
        position: absolute;
        .right(30);
        .top(20);
        .fs(22);
        color: #666;
      }
    }
    .content {
      display: flex;
      position: relative;
      .photo-wrap {
        .margin(20, 26, 0, 30);
        .w(110);
        .h(130);
        overflow: hidden;
        background-color: #e5e5e5;
        .b-radius(10);
        img {
          width: 100%;
          height: 100%;
        }
      }
      .info-wrap {
        .fs(24);
        color: #666;
        .info-item {
          .lh(42);
          &.type {
            .mt(30);
            .fs(28);
            color: #333;
          }
        }
      }
      .list-right {
        position: absolute;
        top: 50%;
        .right(30);
        .status {
          .fs(24);
          &.wait {
            color: #00B775;
          }
          &.agree {
            color: #666;
          }
        }
      }
    }
    .reason {
      .padding(10, 30, 16, 30);
      .fs(24);
      color: #666;
      .lh(36);
    }

    &.child {
      .mt(20);
      .content {
        .pb(20);
        .info-wrap {
          .pt(40);
          color: #333;
          .info-item {
            .lh(50);
          }
        }
      }
    }
  }

  .btn-wrap {
    text-align: center;
    .mt(200);
    .mb(60);
    .mint-button--default {
      .mt(20);
      color: @base-color;
      box-shadow: 0 0 1/@baseFontSize*1rem @base-color;
      background-color: #fff;
    }
  }
}
