<template>
  <div class="approve-details header-pt">
    <back-header title="详情"></back-header>
    <div class="detail-wrap parent">
      <div class="top">
        <div class="title">接送人</div>
        <div class="time">{{details.createTime}}</div>
      </div>
      <div class="content">
        <div class="photo-wrap">
          <img @click="saveQrImage" v-if="details.deliverPhoto" :src="imgJoint(details.deliverPhoto)">
        </div>
        <div class="info-wrap">
          <div class="info-item type">接送方式：{{details.type}}</div>
          <div class="info-item">接送人：{{details.visitorName}}</div>
          <div class="info-item">联系电话：{{details.visitorPhone}}</div>
        </div>
        <div class="list-right">
          <div class="status" :class="details.status === '未确认' ? 'wait' : 'agree'">{{details.status}}</div>
        </div>
      </div>
      <div class="reason">代接原因：{{details.visitorDescribe}}</div>
    </div>
    <div class="detail-wrap child">
      <div class="top">
        <div class="title">被接送人</div>
      </div>
      <div class="content">
        <div class="photo-wrap">
          <img @click="saveQrImage" v-if="details.childPhoto" :src="imgJoint(details.childPhoto)">
        </div>
        <div class="info-wrap">
          <div class="info-item">姓名：{{details.childName}}</div>
          <div class="info-item">班级：{{details.className}}</div>
        </div>
      </div>
    </div>

    <div class="btn-wrap" v-if="pt === '6100000000' && details.status === '未确认'">
      <mt-button type="primary" @click.native="agreeApprove('1')">同意</mt-button>
      <mt-button @click.native="agreeApprove('2')">拒绝</mt-button>
    </div>

    <div @click="isShow = false" class="show-qrcode" :class="{none: !isShow}">
      <div class="img-wrap" ref="imgWrap">
        <img ref="fullCode" src="">
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import ApproveDetails from './ApproveDetails'
export default ApproveDetails
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "ApproveDetails";
</style>
