.mine {
  .pb(120);
  .user {
    .padding(37, 30, 32, 30);
    background-color: #fff;
    display: flex;
    .avatar {
      flex-direction: row;
      .w(110);
      .h(110);
      border-radius: 50%;
      overflow: hidden;
      background-color: #e5e5e5;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .user-info {
      .pl(23);
      .pt(18);
      .username {
        color: #333;
        .fs(28);
      }
      .user-card {
        .pt(20);
        color: #666;
        .fs(24);
      }
    }
  }

  .parent {
    .mt(20);
    .mint-cell {
      .minh(90);
      .mint-cell-wrapper {
        .padding(0, 30);
        .fs(28);
        .mint-cell-title {
          color: #333;
        }
        .mint-cell-value {
          color: #666;
          &.is-link {
            .mr(30);
          }
        }
        .mint-cell-allow-right {
          &::after {
            border: solid 4/@baseFontSize*1rem #666;
            border-bottom-width: 0;
            border-left-width: 0;
            .right(40);
            .w(10);
            .h(10);
          }
        }
      }
    }
  }

  .child {
    .mt(20);
    .h(364);
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #fff;
    .title {
      .padding(30, 30);
      .fs(26);
      color: #333;
    }
    .content {
      box-sizing: border-box;
      .padding(0, 30, 30, 30);
      .h(280);
      overflow-x: auto;
      .overx {
        height: 100%;
        white-space: nowrap;
        font-size: 0;
        .child-item {
          display: inline-block;
          box-sizing: border-box;
          .mr(40);
          .w(200);
          .h(240);
          .b-radius(10);
          border: 1px solid #DEDEDE;
          box-shadow: 0 6/@baseFontSize*1rem 9/@baseFontSize*1rem 0 rgba(126,126,126,0.13);
          overflow: hidden;
          .photo {
            margin: auto;
            .mt(18);
            .w(110);
            .h(130);
            .b-radius(10);
            background-color: #e5e5e5;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .name {
            .padding(15, 10, 0, 10);
            .fs(26);
            color: #333;
            .ellipsis();
            text-align: center;
          }
          .grade {
            .padding(10, 10, 0, 10);
            .fs(22);
            color: #666;
            .ellipsis();
            text-align: center;
          }

          .add {
            margin: auto;
            .mt(86);
            .w(68);
            .h(68);
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .btn-wrap {
    .pt(100);
    text-align: center;
  }
}
