<template>
  <div class="mine">
    <div class="user">
      <div class="avatar">
        <img v-if="userInfo.avatar" :src="imgJoint(userInfo.avatar)">
      </div>
      <div class="user-info">
        <div class="username">{{userInfo.name}}</div>
        <div class="user-card">{{userInfo.cardNum}}</div>
      </div>
    </div>

    <div class="parent">
      <mt-cell title="手机号" :value="phone" :to="{path: '/phone', query: {phone: phone}}" is-link></mt-cell>
      <mt-cell v-if="pt === '6100000000'" title="家人" :value="parentLen" :to="{path: '/family', query: {id: parentParam.personId}}" is-link></mt-cell>
      <mt-cell title="修改密码" :to="{path: '/updatepassword', query: {phone: phone}}" is-link></mt-cell>
    </div>

    <div class="child" v-if="pt === '6100000000'">
      <div class="title">孩子信息</div>
      <div class="content">
        <div class="overx">
          <div class="child-item"
               v-for="(item, index) in childList"
               @click="updateChildHandle(item)"
               :key="index">
            <div class="photo">
              <img v-if="item.photo" :src="imgJoint(item.photo)">
            </div>
            <div class="name">{{item.personName}}</div>
            <div class="grade">{{item.className}}</div>
          </div>
          <!--<div class="child-item" @click="addChildHandle">-->
            <!--<div class="add">-->
              <!--<img src="../../assets/icons/icon_addchild@2x.png">-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>

    <div class="btn-wrap">
      <mt-button type="danger" @click.native="logout">退出登录</mt-button>
    </div>
    <tabbar :page="currentPage"></tabbar>
  </div>
</template>

<script type="text/ecmascript-6">
import Mine from './Mine'
export default Mine
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Mine";
</style>
