.approve {
  position: relative;
  .mint-navbar {
    .border-1px(#d9d9d9);
    position: fixed;
    .top(80);
    left: 0;
    width: 100%;
    z-index: 999;
    .mint-tab-item {
      padding: 0;
      .fs(28);
      .mint-tab-item-label {
        .h(90);
        .lh(90);
        .fs(28);
      }
      &.is-selected {
        margin: 0;
        border: none;
        color: @base-color;
        &::after {
          margin: auto;
          .mt(-4);
          display: block;
          content: ' ';
          background-color: #00B775;
          .w(60);
          .h(4);
        }
      }
    }
  }
  .mint-tab-container {
    .pt(90);
    background-color: #fff;
    .border-1px(#d9d9d9);

    .appr-menu {
      position: fixed;
      .top(170);
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 999;
      display: flex;
      .fs(24);
      color: #666;
      .menu-item {
        flex: 1;
        text-align: center;
        .h(80);
        .lh(80);
        .border-1px(#eee);
        &.active {
          color: @base-color;
        }
      }
    }
    .appr-container {
      .pt(80);
      &.ry-container {
        .list-cell {
          position: relative;
          .padding(24, 30, 25, 30);
          box-sizing: border-box;
          background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 0);
          background-size: 120% 1px;
          background-repeat: no-repeat;
          background-position: 0 -24/@baseFontSize*1rem;
          background-origin: content-box;
          background-color: #fff;
          font-size: 0;
          .photo {
            display: inline-block;
            .mr(20);
            .w(110);
            .h(130);
            .b-radius(10);
            background-color: #e5e5e5;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .list-cell-wrapper {
            display: inline-block;
            .ml(12);
            .w(280);
            vertical-align: top;
            .list-cell-item {
              .fs(24);
              color: #666;
              .lh(44);
              .h(44);
              &.name {
                .fs(28);
                color: #333;
              }
            }
          }
          .list-cell-right {
            position: absolute;
            .right(30);
            display: inline-block;
            vertical-align: top;
            .mt(8);
            .w(126);
            .mint-button {
              .mb(25);
              width: 100%;
              .h(45);
              font-size: 0;
              font-weight: 400;
              .mint-button-text {
                .fs(24);
              }
              &.mint-button--default {
                color: @base-color;
                background-color: #fff;
                box-shadow: none;
                border: 1px solid @base-color;
              }
            }
          }
          .list-cell-bottom {
            .mt(16);
            .fs(22);
            color: #666;
          }
          &:first-child {
            background-image: none;
          }
        }
        .no-data {
          .mt(200);
          .mb(200);
          .no-data-icon {
            margin: auto;
            .w(268);
            .h(233);
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .no-data-text {
            .mt(40);
            .fs(26);
            color: #666;
            text-align: center;
          }
        }
      }
      //  接送
      &.js-container {
        .list-cell {
          position: relative;
          .padding(24, 30, 25, 30);
          box-sizing: border-box;
          background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 0);
          background-size: 120% 1px;
          background-repeat: no-repeat;
          background-position: 0 -24/@baseFontSize*1rem;
          background-origin: content-box;
          background-color: #fff;
          font-size: 0;
          .list-cell-left {
            display: inline-block;
            .mr(20);
            .w(110);
            .h(130);
            .b-radius(10);
            background-color: #e5e5e5;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .list-cell-wrapper {
            display: inline-block;
            .ml(12);
            .w(400);
            vertical-align: top;
            .list-cell-item {
              .fs(24);
              color: #666;
              .lh(44);
              &.name {
                .fs(28);
                color: #333;
              }
            }
            .list-cell-item {
              .ellipsis();
              //.pt(20);
              .lh(44);
              color: #666;
              .fs(24);
              //&:last-child {
              //  .pb(20);
              //}
              &.type {
                color: #333;
                .fs(28);
              }
            }
          }
          .list-cell-right {
            position: absolute;
            .right(30);
            display: inline-block;
            vertical-align: top;
            .mt(8);
            .w(126);
            .mint-button {
              .mb(25);
              width: 100%;
              .h(45);
              font-size: 0;
              font-weight: 400;
              .mint-button-text {
                .fs(24);
              }
              &.mint-button--primary {
                background-color: @base-color;
                .mb(25);
              }
              &.mint-button--default {
                background-color: #fff;
                color: @base-color;
                box-shadow: none;
                border: 1px solid @base-color;
                box-sizing: padding-box;
              }
            }
            .status {
              box-sizing: border-box;
              .fs(28);
              padding-top: 50%;
              height: 100%;
              text-align: right;
              &.wait {
                color: #00B775;
              }
              &.agree {
                color: #666;
              }
              &.reject {
                color: #ef4f4f;
              }
            }
          }
          .list-cell-bottom {
            .mt(16);
            .fs(22);
            color: #666;
          }
          &:first-child {
            background-image: none;
          }
        }
        .no-data {
          .mt(200);
          .mb(200);
          .no-data-icon {
            margin: auto;
            .w(268);
            .h(233);
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .no-data-text {
            .mt(40);
            .fs(26);
            color: #666;
            text-align: center;
          }
        }
      }
    }
  }

  .loading {
    .h(120);
    border-top: 1/@baseFontSize*1rem solid #d9d9d9;
    .fs(24);
    text-align: center;
    color: #999;
    p {
      margin: 0;
      .h(120);
      .lh(120);
    }
  }

  .slide-fade{
    position: absolute;
    left:0;
    right: 0;
  }
  .slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .5s ease;
  }
  //.slide-fade-leave-active {
  //
  //  transition: all .5s cubic-bezier(2.0, 0.5, 0.8, 1.0);
  //}
  .slide-fade-enter, .slide-fade-leave-to
  {
    left:0;
    right: 0;
    transform: translateX(100%);
    opacity: 1;
  }
}
