<template>
  <div class="approve header-pt">
    <back-header title="审批"></back-header>
    <mt-navbar v-model="selected">
      <!--家长端-->
      <mt-tab-item id="all" v-if="isParent">全部</mt-tab-item>
      <mt-tab-item id="approved" v-if="isParent">已审批</mt-tab-item>
      <!--教师端-->
      <mt-tab-item id="teachSponsor" v-if="!isParent">我发起的</mt-tab-item>
      <mt-tab-item id="teachSendee" v-if="!isParent">发给我的</mt-tab-item>
    </mt-navbar>
    <mt-tab-container v-model="selectedTab">
      <!--家长端-->
      <mt-tab-container-item id="tab-all" v-if="isParent">
        <div class="list-wrap">
          <record-list :list="approveData" :type="1" :loading="loadingPr" @load="parentLoadNext" @details="detailsHandle"></record-list>
        </div>
      </mt-tab-container-item>
      <mt-tab-container-item id="tab-approved" v-if="isParent">
        <div class="list-wrap">
          <record-list :list="approvedData" :type="1" :loading="loadingPrd" @load="parentLoadNextForApproved" @details="detailsHandle"></record-list>
        </div>
      </mt-tab-container-item>
      <!--教师端-->
      <mt-tab-container-item id="tab-teachSponsor" v-if="!isParent">
        <div class="list-wrap">
          <record-list :list="approveData" :type="1" :loading="loading" @load="loadNext" @details="detailsHandle"></record-list>
        </div>
      </mt-tab-container-item>
      <mt-tab-container-item id="tab-teachSendee" v-if="!isParent">
        <div class="appr-menu">
          <div class="menu-item" :class="{active: apprMenu === 'ry'}" @click="changeMenu('ry')">人员审批</div>
          <div class="menu-item" :class="{active: apprMenu === 'dj'}" @click="changeMenu('dj')">代接审批</div>
          <div class="menu-item" :class="{active: apprMenu === 'ds'}" @click="changeMenu('ds')">代送审批</div>
        </div>
        <!--内容-->
        <!--人员-->
        <div class="appr-container ry-container" v-show="apprMenu === 'ry'">
          <div class="list-cell"
               v-for="(item, index) in ryData"
               @click="sendMeDetailsHandle('人员审批', item)"
               :key="index">
            <div class="photo">
              <img v-if="item.childPhoto" :src="imgJoint(item.childPhoto)">
            </div>
            <div class="photo">
              <img v-if="item.personPhoto" :src="imgJoint(item.personPhoto)">
            </div>
            <div class="list-cell-wrapper">
              <div class="list-cell-item name">{{item.childName}}</div>
              <div class="list-cell-item">家长姓名：{{item.personName}}</div>
              <div class="list-cell-item">亲属关系：{{item.parentType}}</div>
            </div>
            <div class="list-cell-right" v-if="item.isExamine === '2'">
              <mt-button type="primary" @click.native.stop="personApproveHandle('1', item)">同意</mt-button>
              <mt-button type="default" @click.native.stop="personApproveHandle('0', item)">拒绝</mt-button>
            </div>
            <div class="list-cell-right" v-else>
              <div class="status agree">审核通过</div>
            </div>
            <div class="list-cell-bottom">{{item.createTime}}</div>
          </div>
          <div class="loading" v-if="showLoadingRy">
            <p class="loading-more" v-if="!loadingRy" @click="loadMore('ry')">点击加载更多</p>
            <p class="nothing" v-else>没有更多了～</p>
          </div>
          <div class="no-data" v-if="!ryData.length">
            <div class="no-data-icon"><img src="../../assets/images/no_data@2x.png"></div>
            <div class="no-data-text">暂无记录</div>
          </div>
        </div>
        <!--代接-->
        <div class="appr-container js-container" v-show="apprMenu === 'dj'">
          <div class="list-cell"
               v-for="(item, index) in djData"
               @click="sendMeDetailsHandle('代接审批', item)"
               :key="index">
            <div class="list-cell-left">
              <img v-if="item.photo" :src="imgJoint(item.photo)">
            </div>
            <div class="list-cell-wrapper">
              <div class="list-cell-item type">代接方式：{{item.type}}</div>
              <div class="list-cell-item">代接人：{{item.shuttleName}}</div>
              <div class="list-cell-item">被接人：{{item.childName}}</div>
            </div>
            <div class="list-cell-right">
              <div class="status wait" v-if="item.status === '待审核'">待审核</div>
              <div class="status agree" v-else-if="item.status === '审核通过'">审核通过</div>
              <div class="status reject" v-else-if="item.status === '审核未通过'">审核未通过</div>
            </div>
            <!--<div class="list-cell-right" v-if="item.type === 1">-->
              <!--<div class="status wait" v-if="item.status === '0'">待审批</div>-->
              <!--<div class="status agree" v-else-if="item.status === '1'">已同意</div>-->
              <!--<div class="status reject" v-else-if="item.status === '2'">已拒绝</div>-->
            <!--</div>-->
            <!--<div class="list-cell-right" v-else-if="item.type === 2">-->
              <!--<mt-button type="primary">同意</mt-button>-->
              <!--<mt-button type="default">拒绝</mt-button>-->
            <!--</div>-->
            <div class="list-cell-bottom">{{item.validityDate}}</div>
          </div>
          <div class="loading" v-if="showLoadingDj">
            <p class="loading-more" v-if="!loadingDj" @click="loadMore('dj')">点击加载更多</p>
            <p class="nothing" v-else>没有更多了～</p>
          </div>
          <div class="no-data" v-if="!djData.length">
            <div class="no-data-icon"><img src="../../assets/images/no_data@2x.png"></div>
            <div class="no-data-text">暂无记录</div>
          </div>
        </div>
        <!--代送-->
        <div class="appr-container js-container" v-show="apprMenu === 'ds'">
          <div class="list-cell"
               v-for="(item, index) in dsData"
               @click="sendMeDetailsHandle('代送审批', item)"
               :key="index">
            <div class="list-cell-left">
              <img v-if="item.photo" :src="imgJoint(item.photo)">
            </div>
            <div class="list-cell-wrapper">
              <div class="list-cell-item type">代送方式：{{item.type}}</div>
              <div class="list-cell-item">代送人：{{item.shuttleName}}</div>
              <div class="list-cell-item">被送人：{{item.childName}}</div>
            </div>
            <div class="list-cell-right">
              <div class="status wait" v-if="item.status === '待审核'">待审核</div>
              <div class="status agree" v-else-if="item.status === '审核通过'">审核通过</div>
              <div class="status reject" v-else-if="item.status === '审核未通过'">审核未通过</div>
            </div>
            <!--<div class="list-cell-right" v-if="item.type === 1">-->
              <!--<div class="status wait" v-if="item.status === '0'">待审批</div>-->
              <!--<div class="status agree" v-else-if="item.status === '1'">已同意</div>-->
              <!--<div class="status reject" v-else-if="item.status === '2'">已拒绝</div>-->
            <!--</div>-->
            <!--<div class="list-cell-right" v-else-if="item.type === 2">-->
              <!--<mt-button type="primary">同意</mt-button>-->
              <!--<mt-button type="default">拒绝</mt-button>-->
            <!--</div>-->
            <div class="list-cell-bottom">{{item.validityDate}}</div>
          </div>
          <div class="loading" v-if="showLoadingDs">
            <p class="loading-more" v-if="!loadingDs" @click="loadMore('ds')">点击加载更多</p>
            <p class="nothing" v-else>没有更多了～</p>
          </div>
          <div class="no-data" v-if="!dsData.length">
            <div class="no-data-icon"><img src="../../assets/images/no_data@2x.png"></div>
            <div class="no-data-text">暂无记录</div>
          </div>
        </div>
      </mt-tab-container-item>
    </mt-tab-container>

    <transition name="slide-fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
import Approve from './Approve'
export default Approve
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Approve";
</style>
