<template>
  <div class="notice header-pt">
    <back-header title="通知"></back-header>
    <div class="notice-item" v-for="(item, index) in notice" :key="index" @click="toDetails(item)">
      <div class="left">
        <div class="title">{{item.title}}</div>
        <div class="other">
          <span class="time">{{item.createTime}}</span>
          <span class="grade">{{item.className}}</span>
        </div>
      </div>
      <!--<div class="right">-->
        <!--<div class="read" v-if="isRead">已读</div>-->
        <!--<div class="unread" v-else>未读</div>-->
      <!--</div>-->
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import Notice from './Notice'
export default Notice
</script>

<style lang="less">
  @import "~styles/index.less";
  @import "Notice";
</style>
