.notice {
  height: 100%;
  overflow-y: auto;
  .notice-item {
    position: relative;
    .h(134);
    overflow: hidden;
    background-color: #fff;
    background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 0);
    background-size: 120% 1px;
    background-repeat: no-repeat;
    background-position: 30/@baseFontSize*1rem 132/@baseFontSize*1rem;
    background-origin: content-box;
    &:last-child {
      background-image: none;
    }
    .left {
      position: absolute;
      left: 0;
      top: 0;
      .padding(0, 30);
      box-sizing: border-box;
      //width: calc(100% - 100/@baseFontSize*1rem);
      width: 100%;
      height: 100%;
      .title {
        .pt(36);
        width: 100%;
        .ellipsis();
        .fs(28);
        color: #333;
      }
      .other {
        .pt(20);
        color: #666;
        .fs(22);
        span {
          display: inline-block;
          vertical-align: bottom;
          &.time {
            .mr(10);
          }
          &.grade {
            .maxw(380);
            .ellipsis();
          }
        }
      }
    }
    .right {
      position: absolute;
      right: 0;
      top: 0;
      .w(100);
      text-align: right;
      .pr(30);
      .pt(52);
      .pb(52);
      .fs(28);
      box-sizing: border-box;
      .unread {
        color: @base-color;
      }
      .read {
        color: #666;
      }
    }
  }
}
